<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Analyzer</title>
</head>
<body>
    <h1>Сайты</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Имя</td>
            <td>Последняя проверка</td>
            <td>Код ответа</td>
        </tr>
        {% for url in urls %}
        <tr>
            <td>{{ url.id }}</td>
            <td>{{ url.name }}</td>
            <td>???</td>
            <td>???</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>